body {
    background-image: url("https://gardenplannerwebsites.azureedge.net/blog/crop-rotation-beds-2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    padding: 10px;;
}

h1, .para
{
    text-align: center;
}
